<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         strict="true"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="uzi.helpers">
            <file>tests/HelpersTest.php</file>
        </testsuite>
        <testsuite name="uzi.str">
            <file>tests/StrTest.php</file>
        </testsuite>
        <testsuite name="uzi.static">
            <file>tests/UziTest.php</file>
        </testsuite>
        <testsuite name="uzi.regex">
            <file>tests/RegexTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
